@model DevelopersInfoViewModel
<h2>developers</h2><br />
<label asp-for="Name"></label>:<br /><b>@Model.Name</b><br />
<hr />
<div>
   @for(int i = 0 ; i < Model.Games.Count(); i++)
    {
       <div class="list-group-item-info"><a asp-controller="Games"
                                             asp-action="Details"
                                             asp-route-Id="@Model.GameIds.ToArray()[i]"
                                             class="alert-link">@Model.Games.ToArray()[i]</a></div>
    }
</div>
<a asp-action="Edit" asp-route-id ="@Model.Id" class = "btn btn-info">Edit</a>
<a asp-action="DeleteConfirmation" asp-route-id="@Model.Id" class = "btn btn-danger">Delete</a>